{% extends 'base.html' %}
<!--  -->
{% block main_content %}
<style>
    .main-section {
        height: 100vh;
    }
</style>
<div class="w-100">
    <div class="ms-2 mt-2 col-lg-12">
        <div class="d-lg-flex justify-content-between">
            <div class="card mb-3 pe-2 ms-0 pt-1 ps-1 me-2 pb-5 w-100 ">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title"> <i class="fa fa-user pe-1 "></i> Total Seller</h5>
                            <h5 class="card-title ms-2">0</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 pe-2 ms-0 pt-1 ps-1 me-2 pb-5 w-100">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title"><i class="fa fa-user pe-1"></i> Total Buyer</h5>
                            <h5 class="card-title ms-2">0</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 pe-2 ms-0 pt-1 ps-1 me-2 pb-5 w-100">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title"> <i class="fa fa-home pe-1"></i>Total Lands</h5>
                            <h5 class="card-title ms-2">0</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 pe-2 ms-0 pt-1 ps-1 me-2 pb-5 w-100">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title"><i class="fa fa-home pe-1"></i>Verified Lands</h5>
                            <h5 class="card-title ms-2">0</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}
<!--  -->
{%block scripts%}
<!--  -->
<!--  -->
{%endblock scripts%}