{% extends 'base.html' %}
<!--  -->
{% block main_content %}
<style>
    .main-section {
        height: 100vh;
    }
</style>
    <div class="w-100">
        <div class="ms-2 mt-2 col-lg-12">
            <div class="d-lg-flex justify-content-between">
                <div class="card mb-3 pe-2 ms-0 pt-1 ps-1 me-2 pb-5 w-100 " >
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title"> <i class="fa fa-user pe-1 "></i> Total Seller</h5>
                                <h5 class="card-title ms-2">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 pe-2 ms-0 pt-1 ps-1 me-2 pb-5 w-100" >
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title"><i class="fa fa-user pe-1"></i> Total Buyer</h5>
                                <h5 class="card-title ms-2">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 pe-2 ms-0 pt-1 ps-1 me-2 pb-5 w-100" >
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title"> <i class="fa fa-home pe-1"></i>Total Lands</h5>
                                <h5 class="card-title ms-2">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 pe-2 ms-0 pt-1 ps-1 me-2 pb-5 w-100" >
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title"><i class="fa fa-home pe-1"></i>Verified Lands</h5>
                                <h5 class="card-title ms-2">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mt-4">
                <p class="text-center">Chart</p>
                <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
            </div>
            <div class="col-lg-6 mt-0">
                <div id="myPlot" style="width:100%;max-width:700px"></div>
            </div>
        </div>
    </div>

    

{% endblock main_content %}
<!--  -->
{%block scripts%}
<!--  -->
<script type="application/javascript">

    myChart()
    myPlot()

    function myChart(){
        var xValues = [50,60,70,80,90,100,110,120,130,140,150];
        var yValues = [7,8,8,9,9,9,10,11,14,14,15];
    
        new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
            fill: false,
            lineTension: 0,
            backgroundColor: "rgba(0,0,255,1.0)",
            borderColor: "rgba(0,0,255,0.1)",
            data: yValues
            }]
        },
        options: {
            legend: {display: false},
            scales: {
            yAxes: [{ticks: {min: 6, max:16}}],
            }
        }
        });
    }

    function myPlot(){
        var xArray = [50,60,70,80,90,100,110,120,130,140,150];
        var yArray = [7,8,8,9,9,9,10,11,14,14,15];

        // Define Data
        var data = [{
        x: xArray,
        y: yArray,
        mode:"lines"
        }];

        // Define Layout
        var layout = {
        xaxis: {range: [40, 160], title: "Square Meters"},
        yaxis: {range: [5, 16], title: "Price in Millions"},  
        title: "House Prices vs. Size"
        };

        // Display using Plotly
        Plotly.newPlot("myPlot", data, layout);
    }
</script>

<!--  -->
{%endblock scripts%}